@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Moonrocks&display=swap');
body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
    $MtColor: salmon;
    @mixin bordered($color,$bold:bold){
        font-weight: $bold;
        color:$color;
    }
    @mixin navbar($font){
        font-size: $font;

    }
    @mixin one ($yellow) {
        background-color: $yellow;
    }
    @mixin paragragh($p,$color,$text){
        font-size: $p;
        color: $color;
        text-align: $text;
        
    }

nav {
    display: flex;
    justify-content: space-around;
    @include bordered($color : white);
    @include one ($yellow:white);
    @include navbar($font:20px);

    h1 {
        font-family: 'Rubik Moonrocks', cursive;
        @include bordered($color : black);
    }
    ul{
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
    }   
    li {
        list-style: none;

    }
    a {
        text-decoration: none;
        color: white;
        padding-right: 20px; 
        @include bordered($color : black)
      
    }
}

.text1 { 
    background-color: green; 
    border: 1px solid black;   
}

.text2 {
    background-color: bisque;
    font-size: 50px;
}
p {
    @include bordered($color : white);
    font-family: 'Lobster', cursive;
    @include paragragh($p:20px,$color:white,$text:center)

}
.header-two {
    @include paragragh($p:20px,$color:white,$text:center)

}