@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Moonrocks&display=swap');
html,body{
    background-color: #dedede;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
$MtColor: salmon;
@mixin bordered($color,$bold:bold){
    font-weight: $bold;
    color:$color;
}
@mixin navbar($font){
    font-size: $font;

}
@mixin one ($yellow) {
    background-color: $yellow;
}
@mixin paragragh($p,$color,$text){
    font-size: $p;
    color: $color;
    text-align: $text;
    
}

nav {
    ul {
        background: #333;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    li {
        position: relative;
    }
    li > ul {
        display: none;
        position: absolute;
    }
    li > ul ul {
        left: 100%;
        top: 0;
    }
    a {
        color: #fff;
        display: block;
        font-family: 'Lobster', cursive;
        font-size: 18px;
        padding: 10px 15px;
        text-decoration: none;
        transition: all 0.3s;
        white-space: nowrap;
    }
    li:hover > a {
        background-color: #eee;
        color: #333;
    }
    li:hover > ul {
        display: block;
    }
 
}   
.text1 { 
    background-color: green; 
    border: 1px solid black;   
}

.text2 {
    background-color: bisque;
    font-size: 50px;
}
p {
    @include bordered($color : white);
    font-family: 'Lobster', cursive;
    @include paragragh($p:20px,$color:white,$text:center)

}
.header-two {
    @include paragragh($p:20px,$color:white,$text:center)

}