@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik+Moonrocks&display=swap');
body{
    background-color: white;
    padding: 0px;
    margin: 0px;
}
    $MtColor: salmon;
    @mixin bordered($color,$bold:bold){
        font-weight: $bold;
        color:$color;
    }
    @mixin navbar($font){
        font-size: $font;

    }
    @mixin one ($yellow) {
        background-color: $yellow;
    }
    @mixin paragragh($p,$color,$text){
        font-size: $p;
        color: $color;
        text-align: $text;
        
    }

nav {
  
}

.text1 { 
    background-color: green; 
    border: 1px solid black;   
}

.text2 {
    background-color: bisque;
    font-size: 50px;
}
p {
    @include bordered($color : white);
    font-family: 'Lobster', cursive;
    @include paragragh($p:20px,$color:white,$text:center)

}
.header-two {
    @include paragragh($p:20px,$color:white,$text:center)

}